[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11
[submodule "lib/Catch"]
	path = lib/Catch
	url = https://github.com/philsquared/Catch
[submodule "lib/Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "lib/gsl"]
	path = lib/gsl
	url = https://github.com/ampl/gsl
